<ion-view>
<div style="padding: 10px;">
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Enter User Email" ng-model="user.username1">
  </label>
  <br>
  <label class="item item-input">
    <input type="password" placeholder="Enter Password" ng-model="user.password1">
  </label>
</div>
<!--<input type="email" ng-model="username">
<input type="password" ng-model="password">-->
<button class="button button-block button-positive" ng-click="create($event)">Register</button>
<p>{{mess}}</p>
</div>
</ion-view>